body {background-color: black;}
h1, h2, h3 {color: white;}
#searchtitle {margin-top: 0px;}
p {color: white;}
.control-label {color: white;}
td {color: white;}
label {color: white; padding-top: 5px;}

#signinbutton, .fb-login-button {float: right; padding: 5px;}
.fb-login-button {padding-top: 8px;}
.top-menu {background-color: #99D9EA;}
#loginstatus {color: black;}
#topbarpic {padding: 3px;}
#logo {padding: 5px;}
#reviewbox {padding-top: 20px;}
#ratingcontainer, #datecontainer, #reviewcontainer {display: none;}
h1 {font-family: 'Corben', cursive; text-align: center; font-size:5em;}
h3 {text-align: center;}
.movieimages {float: left; padding-left: 20px;}
.main-table {width:auto; margin-left:auto; margin-right: auto;}
.user-table td {border-top: none !important;}
#result {margin: 0 auto;}
#youlogin {color: red;}
.redirecting {color: black;}
#deleteAccount {text-align: right;}
#pagecontainer {text-align: center;}
#pages {display:inline-block; color: white; width:25px; border: 1px solid white; padding: 5px; margin: 5px;}
.flash {background-color: yellow; text-align: center;}
#modal-body {color: black;}
p.black {color: black;}
.modal-header {
	background-color: #99D9EA;
	color: black;
}
.smpic {
	width: 40px;
	height: 50px;
	padding: 2px;
}

/*body            { font-family: sans-serif; background-color: #333333; }
 h1, h2, h3, h4       { color: #CCCCCC; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

p               { color: #CCCCCC;}

a {text-decoration: none; color:#FFFFCC; font-size: .75em;}

.pane {position:absolute; left: 25%; border: 2px solid;
    border-radius: 25px; padding: 5px; margin: 5px; border-color: #999999; background-color: #333333; }
.header         {left:50%; text-align: center;}
.name {width:50%;display: inline-block; float: left;}
.description {}
.price {text-align: right; width:50%; float: right; }
.editdeletepane{}

.flash          { background: #cee5F5; }*/
