<!-- Header to be included on all pages once logged in -->
<div class="container-fluid">
	<div class="row top-menu">
		<div class="col-md-6">
			<a href="{{ url_for('users') }}" id="logo_container"><img id="logo" src = "{{ url_for('static', filename='images/logo.jpg') }}" alt="The Movie Log!"></a>
		</div>
		<div class="col-md-6">
			<div class = "row">
				<h4 id = "login_container">Logged in as: {{ login() }} <img id="topbarpic" src="{{ picture() }}" height="30"><a href="/disconnect">(Log out)</a><a href="{{ url_for('addMovie', user_id = current_user_id()) }}"> (Add a Movie!)</a></h4>
			</div>
		</div>
	</div>
</div>
