{% extends "main.html" %}
{% if login() == None %}
	{% include "header.html" %}
{% else %}
	{% include "header2.html" %}
{% endif %}
{% block content %}
	<div class = "row">
	<div class="col-md-6">
	<h2>Movie List for {{user.name}}!</h2>

	{% with messages = get_flashed_messages() %}
    {% if messages %}

        <ul>
        {% for message in messages %}
          <li><strong>{{ message }} </strong> </li>
        {% endfor %}
      </ul>
    {% endif %}
    {% endwith %}
</div>
</div>    
	<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
	<div class="table-responsive">
	<table class="table">
	<thead>
	<!--<tr>
	<th>Date Watched</th>
	<th>Title</th>
	<th>Description</th>
	<th>Review</th>
	<th>Rating</th>
	</tr>-->
	</thead>
	<tbody>
	{% for movie in movies %}
	<tr>
	<th id="datecell{{movie.mdbid}}" class="col-md-2"></th>
		<script type="text/javascript">
			var datewatched = "{{movie.datewatched}}";
			$('#datecell{{movie.mdbid}}').append(moment(datewatched, 'YYYY-MM-DD').format('MMMM Do YYYY'));
		</script>
	<th id="{{movie.mdbid}}"></th>
		<script type="text/javascript">
			var key = '924332c90e5f89d0bc88e02232ff0723';
			var id = {{movie.mdbid}};
			var url = 'https://api.themoviedb.org/3/movie/' + id + '?api_key=' + key;

			$.ajax({
				'url': url,
				'dataType': 'jsonp',
				'type': 'GET',
				'contentType': 'application/json',
				'async': false,
				'success': function(data, textStats, XMLHttpRequest) {
					console.log(data);
					$('#{{movie.mdbid}}').append('<img width=100 src="https://image.tmdb.org/t/p/w396/' + data.poster_path + '">');
					$('#desc{{movie.mdbid}}').append('<h4>' + data.title + '</h4>' + data.overview);
				},
				'error': function() {
					console.log('There was a problem.');
				}
			});
		</script>
	<th id="desc{{movie.mdbid}}"></th>
	<th>{{movie.review}}</th>
	<th>{{movie.rating}}</th>
	<th><a href="{{ url_for('editMovie', user_id = user.id, movie_id = movie.id) }}">(Edit)</a></th>
	<th><a href="{{ url_for('deleteMovie', user_id = user.id, movie_id = movie.id) }}">(Delete)</a></th>

	{% endfor %}
	</tbody>
	</table>
	</div>
	</div>
	</div>

	<h3><a href="{{ url_for('addMovie', user_id = user.id) }}">Add New Movie</a></h3>

	<h3><a href="{{ url_for('users') }}">Back to User List</a></h3>

{% endblock %}