{% extends "main.html" %}
{% if login() == None %}
	{% include "header.html" %}
{% else %}
	{% include "header2.html" %}
{% endif %}
{% block content %}

	<div class="row">
	<h1>Welcome to the Movie Log!</h1>
	<h3>Here's what some of our users have been watching:</h3>
	<h3 id="youlogin">Create an account and start logging today!</h3>
	</div>
	
	 {% with messages = get_flashed_messages() %}
    {% if messages %}

        <ul>
        {% for message in messages %}
          <li><strong>{{ message }} </strong> </li>
        {% endfor %}
      </ul>
    {% endif %}
    {% endwith %}


    
    <div class="row">
    <div class="col-md-9 main-table">
	<div class="table-responsive">
	<table class="table table-hover user-table">
	<tbody>
	{% for user in users %}
	<tr>
	<td width=150><img src = "{{user.picture}}" width=125></td>
	<td class="col-md-2"><a href="{{ url_for('showMovies', user_id = user.id) }}">{{user.name}}</a></td>
	<td>
	<div class="row movieimages">
	{% for movie in movies[user.email] %}
	<div id="{{movie}}" class="movieimages">
	<script type="text/javascript">
			var key = '924332c90e5f89d0bc88e02232ff0723';
			var id = {{movie}};
			var url = 'https://api.themoviedb.org/3/movie/' + id + '?api_key=' + key;

			$.ajax({
				'url': url,
				'dataType': 'jsonp',
				'type': 'GET',
				'contentType': 'application/json',
				'async': false,
				'success': function(data, textStats, XMLHttpRequest) {
					console.log(data);
					$('#{{movie}}').append('<img width=100 src="https://image.tmdb.org/t/p/w396/' + data.poster_path + '">');
				},
				'error': function() {
					console.log('There was a problem.');
				}
			});
		</script>
	</div>
	{% endfor %}
	</div>
	</td>
	{% endfor %}
	</tbody>
	</table>
	</div>
	</div>
	</div>

	
{% endblock %}
